services:
  redis:
    image: redis:7-alpine
    container_name: blogs-cache-redis
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --requirepass ${REDIS_PASSWORD:-local_dev_password} --appendonly yes
    volumes:
      - redis_data:/data
    healthcheck:
      test:
        [
          'CMD',
          'redis-cli',
          '-a',
          '${REDIS_PASSWORD:-local_dev_password}',
          'ping',
        ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis_data:
